Link dataset: https://www.kaggle.com/datasets/hsankesara/flickr-image-dataset

Sau khi download v·ªÅ th√¨ gi·∫£i n√©n

# ƒê·ªçc file d·ªØ li·ªáu flickr30K_images

In [181]:
import numpy as numpy
import pandas as pd
from PIL import Image
import os
import shutil

In [150]:
image_data_df = pd.read_csv('./results.csv').dropna(axis=1)
image_data_df = image_data_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)
image_data_df = image_data_df.iloc[:, 0].str.split('|', expand=True)
image_data_df.columns = ['image_name', 'comment_number', 'comment']
image_data_df ['comment'] = image_data_df ['comment'].apply(lambda x: '' if pd.isna(x) else x)
image_data_df.info()

C:\Users\phuon\AppData\Local\Temp\ipykernel_28360\1774336321.py:1: DtypeWarning: Columns (7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  image_data_df = pd.read_csv('./results.csv').dropna(axis=1)
C:\Users\phuon\AppData\Local\Temp\ipykernel_28360\1774336321.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  image_data_df = image_data_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158915 entries, 0 to 158914
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   image_name      158915 non-null  object
 1   comment_number  158915 non-null  object
 2   comment         158915 non-null  object
dtypes: object(3)
memory usage: 3.6+ MB

In [151]:
image_data_df.head(5)

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,Two young
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

## Merge c√°c c√¢u comment tr√™n c√πng m·ªôt ·∫£nh l·∫°i v·ªõi nhau

In [154]:
image_data_df['full_comment'] = image_data_df.groupby('image_name')['comment'].transform(lambda x: ' '.join(x))
image_data_df = image_data_df.drop_duplicates(subset=['image_name'])
image_data_df = image_data_df.drop(['comment_number', 'comment'], axis=1)
image_data_df = image_data_df.reset_index(drop=True)
image_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31783 entries, 0 to 31782
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   image_name    31783 non-null  object
 1   full_comment  31783 non-null  object
dtypes: object(2)
memory usage: 496.7+ KB

In [155]:
image_data_df.head(2)

       image_name                                       full_comment
0  1000092795.jpg   Two young guys with shaggy hair look at their...
1    10002456.jpg   Several men in hard hats are operating a gian...

## Sau ƒë√≥, ti·∫øn h√†nh check trong c√¢u comment c√≥ ƒë·ªÅ c·∫≠p con v·∫≠t n√†o kh√¥ng? N·∫øu c√≥ th√¨ note l·∫°i l√† c√≥, c√≤n kh√¥ng th√¨ skip

In [157]:
def filter_animal(sentence): # ƒë·ªÉ d√†nh c√°i n√†y check animal s√†i
    animal_dictionary_df = pd.read_csv("./animal_dictionary.csv",header=None)
    rows_list = animal_dictionary_df[0].values
    list_has = []
    
    if isinstance(sentence, str):
        # Chuy·ªÉn c√¢u v·ªÅ ch·ªØ th∆∞·ªùng ƒë·ªÉ so s√°nh kh√¥ng ph√¢n bi·ªát ch·ªØ hoa/ch·ªØ th∆∞·ªùng
        sentence_lower = sentence.lower()

        # Ki·ªÉm tra xem t·ª´ng t·ª´ trong m·∫£ng c√≥ xu·∫•t hi·ªán trong c√¢u kh√¥ng
        for word in rows_list:
            sentence_word = sentence_lower.split(" ")
            if word.lower() in sentence_word:
                list_has.append(word) # L∆∞u l·∫°i animal ƒë√≥
                # return True  # N·∫øu c√≥ √≠t nh·∫•t m·ªôt t·ª´ xu·∫•t hi·ªán, tr·∫£ v·ªÅ True
    # else:
    #     print("üå∑")
    #     print(type(sentence))
    #     print(sentence)
        
    return list_has
    # return False  # N·∫øu kh√¥ng c√≥ t·ª´ n√†o xu·∫•t hi·ªán, tr·∫£ v·ªÅ False

In [158]:
# Transform dataframe
image_data_df["has_animal"] = image_data_df["full_comment"].apply(lambda x: filter_animal(str(x)))
image_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31783 entries, 0 to 31782
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   image_name    31783 non-null  object
 1   full_comment  31783 non-null  object
 2   has_animal    31783 non-null  object
dtypes: object(3)
memory usage: 745.0+ KB

In [159]:
image_data_df.head(1)

,image_name,full_comment,has_animal
0,1000092795.jpg,Two young guys with shaggy hair look at their...,[]

## L·ªçc c√°c ·∫£nh c√≥ ch·ª©a t·ª´ kh√≥a

In [163]:
animal_data_df = image_data_df[image_data_df['has_animal'].apply(len) > 0]
animal_data_df.head(5)

,image_name,full_comment,has_animal
6,1000919630.jpg,A man sits in a chair while holding a large s...,"[Animal, Lion]"
12,1001773457.jpg,A black dog and a white dog with brown spots ...,[Dog]
17,1003163366.jpg,a man sleeping on a bench outside with a whit...,[Dog]
29,100759042.jpg,Young man in jacket holding a toothpick with ...,[Crane]
34,1009434119.jpg,A black and white dog is running in a grassy ...,[Dog]

## T·∫°o folder c√°c con v·∫≠t

In [172]:
file_df = pd.read_csv("./animal_dictionary.csv", header=None)
file_df.head(1)

          0
0  Aardvark

In [180]:
for index, row in file_df.iterrows():
    folder_name = row.values[0]
    os.makedirs("./animals/" + folder_name, exist_ok=True)
print("C√°c th∆∞ m·ª•c ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng!")

C√°c th∆∞ m·ª•c ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng!

## L∆∞u c√°c con v·∫≠t ƒë√£ ƒë∆∞·ª£c g√°n nh√£n v√†o folder t∆∞∆°ng ·ª©ng

In [189]:
for index, row in animal_data_df.iterrows():
    # L·∫•y gi√° tr·ªã t·ª´ c·ªôt 'has_animal'
    animals = row['has_animal']
    # L·∫∑p qua t·ª´ng gi√° tr·ªã trong danh s√°ch
    for animal in animals:
        image_path = os.path.join("./flickr30K_images", row['image_name'])
        if os.path.exists(image_path):
            shutil.copy(image_path, f"./animals/{animal}")

In [194]:
parent_folder = "./animals"

for folder_name in os.listdir(parent_folder):
    folder_path = os.path.join(parent_folder, folder_name)
    if os.path.isdir(folder_path) and not os.listdir(folder_path):
        os.rmdir(folder_path)